code/Chapter01/HelloCS/bin
code/Chapter01/HelloCS/obj

code/Chapter02/Basics/bin
code/Chapter02/Basics/obj
code/Chapter02/Arguments/bin
code/Chapter02/Arguments/obj
code/Chapter02/Arrays/bin
code/Chapter02/Arrays/obj
code/Chapter02/Formatting/bin
code/Chapter02/Formatting/obj
code/Chapter02/NullHandling/bin
code/Chapter02/NullHandling/obj
code/Chapter02/Numbers/bin
code/Chapter02/Numbers/obj
code/Chapter02/Variables/bin
code/Chapter02/Variables/obj